.about-section{
     padding: 80px 60px;
  color: white;
  text-align: center;
  background-color: #0e1628;
}
.about-heading{
    color: white;
     font-size: 36px;
      margin-bottom: 20px;
}
.me{
    color: #00ADB5;
}

.about-text {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}


/* 📱 Responsive */
@media (max-width: 768px) {
  .about-section {
    padding: 40px 20px;
  }

  .about-text {
    font-size: 16px;
  }
}